################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.plgx
/.vs/*
/*/.vs/*
/*/bin/*
/*/obj/*
Releases/
Debug/
*.user
/packages/*
/*/KeePass.config.xml