<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NHotkey" version="3.0.0" targetFramework="net48" />
  <package id="NHotkey.WindowsForms" version="3.0.0" targetFramework="net48" />
  <package id="Otp.NET" version="1.4.0" targetFramework="net48" />
  <package id="Yort.Ntp.Portable" version="2.0.0" targetFramework="net48" />
  <package id="ZXing.Net" version="0.16.10" targetFramework="net48" />
</packages>