<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Xaml" version="4.0.0.1" targetFramework="net40" />
  <package id="OtpSharp" version="1.0.6.1" targetFramework="net40" />
  <package id="QRCoder" version="1.4.1" targetFramework="net40" />
  <package id="Yort.Ntp.Portable" version="2.0.0" targetFramework="net40" />
  <package id="ZXing.Net" version="0.16.6" targetFramework="net40" />
</packages>